<div id="page_login" class="full-heigh">
    <div class="input-session">
        <h1 class="text-center" style="padding-bottom: 20px;">Point Estimating</h1>
        <input id="input_username" class="margin-bottom input-input" maxlength="20" autocomplete="off" placeholder="Input your name" />
        <button class="btn btn-outline-secondary btn-lg" onclick="enterRoom()">Enter</button>
    </div>
</div>

<div id="page_estimate" style="display: none;">
    <div class="container">
        <header class="padding-top">
            <div class="display-flex-element">
                <h1 style="flex: auto;">Point Estimating</h1>
                <button id="reveadBtn" type="button" class="margin-top btn btn-outline-secondary btn-lg margin-right" data-toggle="modal" data-target="#myModal">Reveal Point</button>
                <button class="margin-top btn btn-outline-secondary btn-lg" onclick="reset()">Reset Board</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Access to Reveal Point</h4>
                            </div>
                            <div class="modal-body">
                                <p>Password</p>
                                <input id="input_admin" class="margin-bottom admin-modal" maxlength="20" autocomplete="off" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="reveal()">Access</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <section style="padding-bottom: 0px;">
        <div class="container">
            <div class="input-session" style="padding-bottom: 0px;">
                <input id="input_point" class="set-center margin-bottom input-input" maxlength="10" autocomplete="off" />
                <button id="pointBtn" class="set-center btn btn-outline-secondary btn-lg" onclick="submit_answer()">Send Answer</button>
            </div>
        </div>
    </section>

    <section id="team" class="pb-5" style="padding: 0px;">
        <div class="container">
            <!-- <h5 class="section-title h1">TEAM MEMBER</h5> -->
            <div class="row">
                <div id="members_element" class="col-xs-12 col-sm-6 col-md-4" style="display: none;">
                    <div class="frontside">
                        <p class="card-addon"><img src="Hour-Glass-512.png"></p>
                        <div class="card">
                            <div class="card-body text-center">
                                <h4></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="members" class="row"></div>
            </div>
        </div>
    </section>

    <section style="padding: 20px 0px;">
        <div class="container">
            <div class="table-title">
                <h2>Answer Ranking</h2>
            </div>
            <table class="table-fill">
                <thead>
                    <tr>
                        <th class="text-left">Name</th>
                        <th class="text-left">Point(hour)</th>
                    </tr>
                </thead>
                <tbody id="ranking" class="table-hover">
                    <tr id="ranking_template" style="display: none;">
                        <td class="text-left"></td>
                        <td class="text-left"></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section>


</div>