<div class="container">
    <div class="score-session">
        <input id="input_username" class="margin-bottom score-input" maxlength="20" autocomplete="off" placeholder="Input your name" />
        <button class="btn btn-outline-secondary btn-lg" onclick="enterRoom()">Enter</button>
    </div>
</div>