body {
    background: white;
    color: #333333;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

h1 {
    float: left;
    overflow-wrap: anywhere;
    color: #333333;
}

h2 {
    color: #333333;
}

.user-point {
    flex: auto;
    padding-left: 20px;
}

.fixed-header {
    width: 100%;
    position: fixed;
    padding: 20px 0;
    background-color: #ffffff;
}

.display-flex-element {
    display: flex;
}

.input-session {
    display: grid;
    margin-inline: auto;
    height: inherit;
    width: 50%;
    align-content: center;
}

.admin-modal {
    text-align: center;
    width: -webkit-fill-available;
}

.list-group-item {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.set-center {
    width: 60%;
    place-self: center;
}

input {
    height: 40px;
    font-size: large;
}

input:focus {
    border-color: #4E5066;
}

button:focus {
    border-color: #4E5066;
}

.input-input {
    text-align: center;
}

.margin-top {
    margin-top: 20px;
}

.margin-right {
    margin-right: 6px;
}

.margin-bottom {
    margin-bottom: 2px;
}

.padding-top {
    padding-top: 3rem;
}

.container {
    background: white;
}

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #4E5066;
    color: #FFFFFF;
}

.row {
    margin-bottom: 24px;
    columns: 250px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #333333;
    margin: 0;
}

#team .card {
    background: #FFFFFF;
    border: 4px solid;
    border-color: #333333;
    overflow-wrap: anywhere;
}

.card {
    padding: 20px;
    height: 100%;
    box-shadow: 1px 1px 2px #333333;
}

img {
    width: 120px;
    border-radius: 50%;
    height: 120px;
    width: 20%;
    height: 20%;
    background-color: #ffffff;
}

p {
    margin: 10px;
}

.full-heigh {
    height: 100vh;
}

.card-addon {
    transform: translate(-6%, 60%);
}

h4 {
    margin: 0;
    color: #333333 !important;
    font-size: large;
}

div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}

.table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}


/*** Table Styles **/

.table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    /* height: 320px; */
    margin: auto;
    max-width: 70vh;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color: #D5DDE5;
    ;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
    width: 40%;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    /* text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1); */
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd) td.row-highlight {
    background: #4E5066;
    color: #FFFFFF;
}

td.row-highlight {
    background: #4E5066;
    color: #FFFFFF;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    /* text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1); */
    border-right: 1px solid #C1C3D1;
    height: 8rem;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}