body {
    background: white;
    color: #333333;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 3rem;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

h1 {
    float: left;
    flex: auto;
}

.display-flex-element {
    display: flex;
}

.score-session {
    width: 70%;
    display: grid;
    margin-inline: auto;
}

.admin-modal {
    text-align: center;
    width: -webkit-fill-available;
}

.list-group-item {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

input {
    height: 40px;
    font-size: large;
}

input:hover {
    border-color: #333333;
}

.score-input {
    text-align: center;
}

.margin-top {
    margin-top: 20px;
}

.margin-right {
    margin-right: 6px;
}

.margin-bottom {
    margin-bottom: 2px;
}

.padding-top {
    padding-top: 3rem;
}

.container {
    background: white;
}

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #333333;
    color: white;
}

.row {
    margin-bottom: 24px;
    columns: 250px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #333333;
    margin: 0;
}

#team .card {
    background: #ffffff;
    border: 4px solid;
    border-color: #333333;
    overflow-wrap: anywhere;
}

.card {
    padding: 20px;
    height: 100%;
    box-shadow: 1px 1px 2px #333333;
}

img {
    width: 120px;
    border-radius: 50%;
    height: 120px;
    width: 20%;
    height: 20%;
    background-color: #ffffff;
}

p {
    margin: 10px;
    /* text-align: center; */
    transform: translate(-6%, 60%);
}


/* .transform-img {
} */

h4 {
    margin: 0;
    color: #333333 !important;
    /* padding-top: 16px; */
    font-size: large;
}