<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/body.ejs") %>

        <script src="/socket.io/socket.io.js"></script>

        <script>
            const socket = io();
            var input = document.getElementById('input');
            var input_username = document.getElementById('input_username');
            var ranking = document.getElementById('ranking');
            var members = document.getElementById('members');


            function enterRoom() {
                if (input_username.value) {
                    var item = document.createElement('li');
                    item.textContent = input_username.value;
                    ranking.appendChild(item);
                    socket.emit('regist', input_username.value);

                } else {
                    input_username.placeholder = "INPUT YOUR NAME PLEASE!";
                }
            }

            function submit_answer() {
                if (input.value) {
                    socket.emit('send_answer', input.value);
                    input.value = '';
                } else {
                    input.placeholder = "point?";
                }
            }

            function reset() {
                socket.emit('reset');
            }

            socket.on('connect_room', function(data) {
                members.innerHTML = "";
                ranking.innerHTML = "";

                for (i in data.online) {
                    if (data.online[i][1]) {
                        var icon = '&#9989;';
                    } else {
                        var icon = '&#10067;';
                    }
                    var entry = document.createElement('div');
                    entry.className = "card";
                    entry.innerHTML = data.online[i][0] + icon;
                    members.appendChild(entry);
                }
                for (i in data.answers_ranking) {
                    var item = document.createElement('li');
                    item.textContent = data.answers_ranking[i];
                    ranking.appendChild(item);
                }

            });
            socket.on('send_answer', function(data) {
                members.innerHTML = "";
                ranking.innerHTML = "";
                for (i in data.online) {
                    if (data.online[i][1]) {
                        var icon = '&#9989;';
                    } else {
                        var icon = '&#10067;';
                    }
                    let entry = document.createElement('div');
                    entry.className = "card";
                    entry.innerHTML = data.online[i][0] + icon;
                    members.appendChild(entry);

                }
                for (i in data.answers_ranking) {
                    let item = document.createElement('li');
                    item.textContent = data.answers_ranking[i];
                    ranking.appendChild(item);
                }
            });
            socket.on('reset', function(data) {
                members.innerHTML = "";
                ranking.innerHTML = "";
                for (i in data.online) {
                    if (data.online[i][1]) {
                        var icon = '&#9989;';
                    } else {
                        var icon = '&#10067;';
                    }
                    var entry = document.createElement('div');
                    entry.className = "card";
                    entry.innerHTML = data.online[i][0] + icon;
                    members.appendChild(entry);
                }
            });
        </script>
</body>

</html>