<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <%- include ("../partials/body.ejs") %>

        <script src="/socket.io/socket.io.js"></script>

        <script>
            const socket = io();
            var input_point = document.getElementById('input_point');
            var input_username = document.getElementById('input_username');
            var ranking = document.getElementById('ranking');
            var members = document.getElementById('members');
            var input_admin = document.getElementById('input_admin');
            var reveal_button = document.getElementById('reveadBtn');
            var point_button = document.getElementById('pointBtn');
            var members_element = document.querySelector('#members_element');

            var waiting_icon = "Hour-Glass-512.png";
            var submit_icon = "Submit-01-512.png";

            function enterRoom() {
                let check_input = input_username.value.trim
                if (input_username.value) {
                    var item = document.createElement('li');
                    item.textContent = input_username.value;
                    ranking.appendChild(item);
                    socket.emit('regist', input_username.value);

                } else {
                    input_username.placeholder = "INPUT YOUR NAME PLEASE!";
                }
            }

            function submit_answer() {
                if (input_point.value) {
                    socket.emit('send_answer', input_point.value);
                    input_point.value = '';
                } else {
                    input_point.placeholder = "point?";
                }
            }

            function reset() {
                socket.emit('reset');
            }

            function reveal() {
                if (input_admin.value) {
                    socket.emit('reveal', input_admin.value);
                    input_admin.value = '';
                }
            }

            function setBtn(status) {
                input_point.value = "";
                input_point.disabled = status;
                reveal_button.disabled = status;
                point_button.disabled = status;
            }

            function setMember(data) {
                members.innerHTML = "";
                document.querySelector('#members_element')
                for (i in data.online) {
                    let clone = members_element.cloneNode(true);
                    clone.style.display = "block";
                    clone.id = "cloneID-" + data.online[i][0];
                    clone.childNodes[1].childNodes[3].childNodes[1].childNodes[1].innerHTML = data.online[i][0];
                    if (data.online[i][1]) {
                        clone.childNodes[1].childNodes[1].childNodes[0].src = submit_icon;
                    } else {
                        clone.childNodes[1].childNodes[1].childNodes[0].src = waiting_icon;
                    }
                    members.appendChild(clone);
                }
            }

            function setRanking(data) {
                ranking.innerHTML = "";
                for (i in data.answers_ranking) {
                    var item = document.createElement('li');
                    item.className = "list-group-item";
                    item.textContent = data.answers_ranking[i];
                    ranking.appendChild(item);
                }
            }

            socket.on('connect_room', function(data) {
                setMember(data);
                setRanking(data);

            });

            socket.on('send_answer', function(data) {
                setMember(data);
                setRanking(data);
            });

            socket.on('reset', function(data) {
                setMember(data);
                setBtn(false);
                ranking.innerHTML = "";
            });

            socket.on('reveal_answer', function(data) {
                if (data.reveal_status) {
                    ranking.innerHTML = "";
                    for (i in data.answers_ranking) {
                        let item = document.createElement('li');
                        item.className = "list-group-item";
                        item.textContent = data.answers_ranking[i] + data.curr_point[i];
                        ranking.appendChild(item);
                    }
                }
                setBtn(data.reveal_status);
            });
        </script>
</body>

</html>